<!DOCTYPE html>
<html lang="ru">
<head><meta charset="UTF-8"><title>Добавить занятие</title></head>
<body>
    <h2>Добавить новое занятие</h2>
    <form method="post" action="/add-lesson">
        <label>Дата и время начала:</label>
        <input type="datetime-local" name="start_datetime" required>
        <label>Группа:</label>
        <select name="group_id">
            {% for group in groups %}
                <option value="{{ group.group_id }}">{{ group.group_name }}</option>
            {% endfor %}
        </select>
        <br>
        <label>Преподаватель:</label>
        <select name="teacher_id">
            {% for teacher in teachers %}
                <option value="{{ teacher.teacher_id }}">{{ teacher.name }}</option>
            {% endfor %}
        </select>
        <br>
        <label>Аудитория:</label>
        <input type="text" name="classroom" required>
        <br>
        <br>
        <label>Тип занятия</label>
        <input type="text" name="lesson_type" required>
        <br>
        <label>Предмет:</label>
        <select name="subject_id">
            {% for subject in subjects %}
                <option value="{{ subject.subject_id }}">{{ subject.name }}</option>
            {% endfor %}
        </select>
        <br>
        <button type="submit">Добавить занятие</button>
    </form>
    <a href="/">На главную</a>
</body>
</html>
