<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Редактирование группы</title>
</head>
<body>
    <h1>Редактирование группы</h1>
    <form method="post" action="/update-group/{{ group.group_id }}">
        <label for="name">Название группы:</label>
        <input type="text" id="name" name="name" value="{{ group.group_name }}" required>
        <button type="submit">Сохранить</button>
    </form>
    <br>
    <a href="/group/{{ group.group_id }}">Отмена</a>
</body>
</html>