<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Редактирование преподавателя</title>
</head>
<body>
    <h1>Редактирование преподавателя</h1>
    <form method="post" action="/update-teacher/{{ teacher.teacher_id }}">
        <label for="name">Имя преподавателя:</label>
        <input type="text" id="name" name="name" value="{{ teacher.name }}" required>
        <button type="submit">Сохранить</button>
    </form>
    <br>
    <a href="/teacher/{{ teacher.teacher_id }}">Отмена</a>
</body>
</html>