<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Админка расписания</title>
</head>
<body>
    <h1>Главная админка</h1>

    <!-- Новая кнопка для загрузки расписания -->
    <div>
        <a href="/upload-schedule">
            📤 Загрузить расписание из файла
        </a>
    </div>

    <h2>Группы</h2>
    <ul>
        {% for group in groups %}
            <li>
                <a href="/group/{{ group.group_id }}">{{ group.group_name }}</a>
<!--                <a href="/edit-group/{{ group.group_id }}">Редактировать</a>-->
<!--                <form method="post" action="/delete-group/{{ group.group_id }}" style="display: inline;">-->
<!--                    <button type="submit">Удалить</button>-->
                </form>
            </li>
        {% endfor %}
    </ul>
    <a href="/add-group">Добавить группу</a>

    <h2>Преподаватели</h2>
    <ul>
        {% for teacher in teachers %}
            <li>
                <a href="/teacher/{{ teacher.teacher_id }}">{{ teacher.name }}</a>
<!--                <a href="/edit-teacher/{{ teacher.teacher_id }}">Редактировать</a>-->
<!--                <form method="post" action="/delete-teacher/{{ teacher.teacher_id }}" style="display: inline;">-->
<!--                    <button type="submit">Удалить</button>-->
                </form>
            </li>
        {% endfor %}
    </ul>
    <a href="/add-teacher">Добавить преподавателя</a>

    <h2>Предметы</h2>
    <ul>
        {% for subject in subjects %}
            <li>
                <a href="/subject/{{ subject.subject_id }}">{{ subject.name }}</a>
<!--                <a href="/edit-subject/{{ subject.subject_id }}">Редактировать</a>-->
<!--                <form method="post" action="/delete-subject/{{ subject.subject_id }}" style="display: inline;">-->
<!--                    <button type="submit">Удалить</button>-->
                </form>
            </li>
        {% endfor %}
    </ul>
    <a href="/add-subject">Добавить предмет</a>

    <h2>Занятия</h2>
    <ul>
        {% for lesson in lessons %}
            <li>
                <a href="/lesson/{{ lesson.lesson_id }}">
                    {{ lesson.subject.name }} –
                    {{ lesson.group.group_name }} –
                    {{ lesson.teacher.name }} –
                    аудитория {{ lesson.classroom }} –
                    c {{ lesson.start_datetime }} до {{ lesson.end_datetime }}
                    {% if lesson.lesson_type %} ({{ lesson.lesson_type }}) {% endif %}
                </a>
<!--                <a href="/edit-lesson/{{ lesson.lesson_id }}">Редактировать</a>-->
<!--                <form method="post" action="/delete-lesson/{{ lesson.lesson_id }}" style="display: inline;">-->
<!--                    <button type="submit">Удалить</button>-->
<!--                </form>-->
            </li>
        {% endfor %}
    </ul>
    <a href="/add-lesson">Добавить занятие</a>
</body>
</html>
